<p id="notice"><%= notice %></p>

<h1>本の詳細表示</h1>
<table class='table table-striped'>
  <tr>
    <td class='col-xs-2 col-sm-2 col-md-2'><span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong> タイトル</strong></td><td class='col-xs-10 col-sm-10 col-md-10'><%= @book.title %></td>
  </tr>
  <tr>
    <td class='col-xs-2 col-sm-2 col-md-2'><span class="glyphicon glyphicon-user" aria-hidden="true"></span><strong> 作者</strong></td><td class='col-xs-10 col-sm-10 col-md-10'><%= @book.author %></td>
  </tr>
  <tr>
    <td class='col-xs-2 col-sm-2 col-md-2'><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span><strong> ISBNコード</strong></td><td class='col-xs-10 col-sm-10 col-md-10'><%= @book.isbn %></td>
  </tr>
  <tr>
    <td class='col-xs-2 col-sm-2 col-md-2'><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><strong> 要約</strong></td><td class='col-xs-10 col-sm-10 col-md-10'><%= @book.summary %></td>
  </tr>
  <tr>
    <td class='col-xs-2 col-sm-2 col-md-2'><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><strong> 出版日</strong></td><td class='col-xs-10 col-sm-10 col-md-10'><%= @book.published.strftime('%Y-%m-%d') %></td>
  </tr>
  <tr>
    <td class='col-xs-2 col-sm-2 col-md-2'><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><strong> 改訂日</strong></td><td class='col-xs-10 col-sm-10 col-md-10'><%= @book.modified.strftime('%Y-%m-%d') %></td>
  </tr>
  <tr>
    <td class='col-xs-2 col-sm-2 col-md-2'><span class="glyphicon glyphicon-check" aria-hidden="true"></span><strong> 貸出ステータス</strong></td><td class='col-xs-10 col-sm-10 col-md-10'><%= @book.status=='lendable'?'貸出可能':'貸出中' %></td>
  </tr>
</table>

<ul class='pager'>
  <li class='previous'><%= link_to '<< 一覧', books_path, :class=>'' %></li>
  <li class='previous'><%= link_to '編集', edit_book_path(@book), :class=>'' %></li>
</ul>
