<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル</strong>
  <%= @book.title %>
</p>

<p>
  <strong>作者</strong>
  <%= @book.author %>
</p>

<p>
  <strong>ISBNコード</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>貸出ステータス</strong>
  <%= @book.status %>
</p>

<p>
  <strong>要約</strong>
  <%= @book.summary %>
</p>

<p>
  <strong>出版日</strong>
  <%= @book.published %>
</p>

<p>
  <strong>改定日</strong>
  <%= @book.modified %>
</p>

<%= link_to '編集', edit_book_path(@book) %> |
<%= link_to '一覧', books_path %>
